<h2><%= @registered_application.name %></h2>
<%= @registered_application.url %>

<h4>Events <span class="badge"><%= @events.count %></span></h4>
<% @events.each do |e| %>
	<div>
		<%= e.name %>
	</div>
<% end %>